{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Групи{% endblock meta_title %}
{% block title %}База груп{% endblock title %}
{% block content %}
<a href="{% url 'groups_add' %}" class="btn btn-primary">Додати групу</a>
                     <!--Start student listing-->
                     <table class="table table-hover table-striped">
                         <thead>
                             <tr>
                                 <th><a href=""></a> №</th>
                                 <th>
                                     <a href="{% url "groups" %}?order_by=title{% if request.GET.order_by == 'title' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">
                                        Назва
                                         {% if request.GET.order_by == 'title' and request.GET.reverse != '1' %}&uarr;
                                           {% elif request.GET.order_by == 'title' and request.GET.reverse == '1' %}&darr;
                                         {% endif %}
                                     </a>
                                 </th>
                                 <th><a href="{% url "groups" %}"> Староста </a></th>
                                 <th>Дії</th>
                             </tr>
                         </thead>
                         <tbody>
                             {% for group in groups %}
                             <tr>
                                 <td>{{ forloop.counter}}</td>
                                 <td><a title="Редагувати" href="#"> {{group.title }}</a> </td>
                                 <td><a title="Редагувати" href="#">{{group.leader}}</a> </td>
                                 <td>
                                     <div class="dropdown">
                                         <button class="btn btn-default dropdown-toggle"
                                                 type="button" data-toggle="dropdown">Дія
                                             <span class="caret"></span>
                                         </button>
                                         <ul class="dropdown-menu" role="menu">
                                             <li role="presentation">
                                                 <a role="mrnuitem" tabindex="-1"
                                                    href="#">Відвідування</a>
                                             </li>
                                             <li role="presentation">
                                                 <a role="menuitem" tabindex="-1" href="{% url 'groups_edit' group.id %}"
                                                    >Редагувати</a>
                                             </li>
                                             <li role="presentation">
                                                 <a role="menuitem" tabindex="-1" href="{% url 'groups_delete' group.id %}"
                                                    >Видалити</a>
                                             </li>
                                         </ul>
                                     </div>
                                 </td>
                             </tr>
                         {% endfor %}
                         </tbody>
                     </table>

                     <!-- End student listing -->
                     {% with object_list=groups %}
                         {% include "students/pagination.html" %}
                     {% endwith %}
{% endblock content%}

