h1,h2,h3,h4,h5,h6{
   font-weight: bold;
}
.alert{
   margin-top: 10px;
}
#footer{
   height: 150px;
   border-top: 1px solid #dddddd;
   bottom:0;
   background:rgda(39,39,39,0.95)none repeat scroll 0% 0%;
   position: fixed;
   width: 100%;
   padding-top: 5px;
   background-image: url("123.jpg")  ;
   background-repet: no-repeat;
   background-position: top;
  }
#group-selector{
   margin-top: 30px;
}
#group-selector select{
   margin: 0;
   width: 85%;
   background-color: #ffffff;
   height: 30px;
   line-height: 30px;
   color: #555555;
}